{% extends 'AltageGastroCmd::app_layout.html.twig' %}
{% set user = users %}

{% block title %}Gérer les users  - {{ parent() }} {% endblock %}

{% block main_content %}
    
				<div class="page-content">
					<div class="page-header">
						<h1>
							Administration
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								Gérer les users
							</small>
						</h1>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<table id="sample-table-1" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Nom du site</th>
												<th>Nom de login</th>
												<th>Mot de passe</th>
												<th>Email</th>
                        <th>Adresse</th>
                        <th>Npa</th>
                        <th>Ville</th>
                        <th>Téléphone</th>
                        <th>Rôle</th>
                        <th>Actif</th>
												<th></th>
											</tr>
										</thead>

										<tbody>
                      {% for user in users %}
											<tr>
												<td>{{ user.longName }}</td>
												<td>{{ user.username }}</td>
												<td>{{ user.password }}</td>
												<td>{{ user.email }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.npa }}</td>
                        <td>{{ user.city }}</td>
                        <td>{{ user.tel }}</td>
                        <td>
                        {% if user.roles|length > 0 %}
                                ya un role
                        {% endif %}
                        </td>
                        <td>{% if user.isActive %}
                                <i class="ace-icon fa fa-check green"></i>
                            {% else %}
                                <i class="ace-icon glyphicon glyphicon-remove red"></i>
                            {% endif %}
                        </td>
												<td>
													<div class="hidden-sm hidden-xs btn-group">
														<a href="{{ path('_AdminEditUser', { 'id': user.id } ) }}">
															<button class="btn btn-xs btn-info">
																<i class="ace-icon fa fa-pencil bigger-120"></i>
															</button>
														</a>														
													</div>
												</td>
											</tr>
                      {% endfor %}
										</tbody>
									</table>
								</div><!-- /.span -->
							</div><!-- /.row -->
            </div><!-- /.page-content -->
          </div><!-- /.main-content -->
        </div>
{% endblock %}